@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

button {
    background-color: darkgreen;
    color: white;
    box-shadow: black;
    padding: 5px;
    font-size: 1em;
}