body {
    background: rgb(70,142, 346);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: rgb(240, 240, 240);
}

section {
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 4px 3px 0px rgba(0, 0, 0, 0.3);;

}

footer {
    text-align: center;
    color: rgb(240, 240, 240);
    font-style: italic;

}

#iresultado {
    width: 200px;
}

#inumero {
    width: 150px;
}