@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
}

button {
    padding: 30px;
    font-size: 16px;
}